APP_NAME=FireOps Intelligence
ENVIRONMENT=development
DATABASE_URL=postgresql+asyncpg://postgres:TU_PASSWORD@localhost:5432/fireassets
SECRET_KEY=replace-with-a-random-secret-of-at-least-32-characters
#google Oauth configuration
GOOGLE_CLIENT_SECRET=YOUR-SECRET-KEY-HERE
GOOGLE_CLIENT_ID=YOUR-CLIENT-ID-HERE
GOOGLE_REDIRECT_URI=YOUR-URL-REDIRECT-GOOGLE-CLOUD
